body
{
    font-family: 'Poppins', sans-serif;
}

h1
{
    font-size: 50px;
}

.first-detail
{
    text-align: right;
}

.orange-color
{
    color: #d81b66;
}

section
{
    display: flex;
}

.half-width
{
    width: 50%;
    padding-right: 2%;
}

.half-width img
{
    width: 80%;
}